*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accordion{
    display: flex;
    align-items: center;
    padding: 10px ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.accordion >h4 >span{
    margin-right: 10px;
    cursor: pointer;
}

.accordion_section{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 40vw;


    
}

.accordion_section h2{
    margin-bottom: 20px;
}